
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

*{
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
}

body{
	font-family: 'Sedgwick Ave', cursive;
	margin: 0;
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather', serif;
	letter-spacing: 1,5px;
}

/*---------------------Estilos del Header---------------------*/

.header{
	height: 75px;
	background: #010900;
	color:#F49514;
}

.header .contenedor{
	display: flex;
	justify-content: space-between;
}
.logo,.icon-menu{
	margin: 5px;
}
.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #F49514;
	color: #010900;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}

/*--------------------Estilos del Menu--------------------*/

.nav{
	position: absolute;
	top: 95px;
	left: -100%;
	width: 100%;
	transition: all 0.4s
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link{
	display: block;
	padding: 9px;
	background: #010900;
	color:#29EC0B;
	text-decoration: none;
	color:#fff;
}

.menu__link:hover, .select{
	background: #F49514;
	color: #fff;
}

.mostrar{
	left: 0;
}

/*--------------------Estilos de Banner--------------------*/

.banner{
	margin-top: 0.5px;
	position: relative;
	z-index: -1000;
	margin-bottom: 10px;
}
.banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

/*--------------------Estilos de info--------------------*/

.info__columna{
	background: #F49514;
	color: #fff;
	padding: 15px;
	margin-bottom: 10px;
}




















